header{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size:2.5rem;
    margin-bottom: 2rem;
}

.news-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.article-cont{
    width: 30vw;
    height: auto;

}

.article-cont img{
    width: 80%
}